/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 5fr;
  align-items: center;
  gap: 50px;
}

.sidebar > * {
  padding-left: 25px;
}

.sidebar > .title {
  font-size: 35px;
}

.links-div, .help-div {
  display: grid;
  gap: 15px;
  font-size: 22px;
}

.links-div {
  grid-template-rows: repeat(6, 1fr);
}

.help-div {
  grid-template-rows: repeat(3, 1fr);
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchbar > * {
  border: 1px solid black;
}
.search {
  height: 20px;
  min-width: 100px;
  border-radius: 10px;
  flex: 1;
}

.main {
  grid-column: 2 / 3;
}